<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>makeMyShopy</display-name>
  <servlet>
    <description>
		</description>
    <display-name>GetProductbyCategoryServlet</display-name>
    <servlet-name>GetProductbyCategoryServlet</servlet-name>
    <servlet-class>
		com.eshop.servlet.GetProductbyCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductbyCategoryServlet</servlet-name>
    <url-pattern>/GetProductbyCategoryServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>indexTemplate.jsp</welcome-file>
  </welcome-file-list>
  
  <!--   DBConnection details -->
  
  <context-param>
    <param-name>connection</param-name>
    <param-value>jdbc:mysql://localhost:3306/shopprofile</param-value>
  </context-param>
  <context-param>
    <param-name>drivername</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>NaN</param-value>
  </context-param>
<!--   Registerion msg template -->

<context-param>
    <param-name>otp_templatename</param-name>
    <param-value>otpTemplet</param-value>
  </context-param>
 <context-param>
    <param-name>otp_templateid</param-name>
    <param-value>335be54fca4e584f855d3b26</param-value>
  </context-param>
  <context-param>
    <param-name>otp_apikey</param-name>
    <param-value>dAdXpTZSJGSSdxCdB9GycKRRzymc5ymKCcFkwZtxytB6RKanQh3</param-value>
  </context-param>
  <context-param>
    <param-name>otp_Senderid</param-name>
    <param-value>MMSTRA</param-value>
  </context-param>
  <context-param>
    <param-name>otp_accountid</param-name>
    <param-value>56078e483284c21d24b9a708</param-value>
  </context-param>

<!--   Order msg template -->

<context-param>
    <param-name>order_templatename</param-name>
    <param-value>purchaseTemplate</param-value>
  </context-param>
 <context-param>
    <param-name>order_templateid</param-name>
    <param-value>2ab320b68fb94ce8ade42d1e</param-value>
  </context-param>
  
<!--  *************************END************************** -->

</web-app>