html{
	margin:0;
	padding:0;
	height:100%;
	overflow-x:hidden;
}
body {
	margin:0;
	padding:0;
	height:100%;
	font-family  : "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size  : 14px;
    line-height  : 14px;
    color  : #333;
    background-color  : #fff;
    letter-spacing  : 0.01em;
	
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	/* background:#ededed;
	padding:10px; */
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
#footer {
/* 	background:#ffab62; */
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}




//***********************************below html & body commented for footer fixing*****//

/* html{
	overflow-x:hidden;
}

body{
	font-family  : "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size  : 14px;
    line-height  : 14px;
    color  : #333;
    background-color  : #fff;
    letter-spacing  : 0.01em;
    height: 100%;
} */

/* homepage */

 hr{
  margin: 0px;
  }
  	.controllers{
	text-align: right
}
.controllers span{
	display: inline-block;
	font-size: 30px;
	padding: 2px 8px;
	cursor: pointer;
}
.slider-navigation {
  background: #505050;
  padding: 15px 15px;
  text-align: center;
}

/*#slider-thumbs { margin-top: -100px; }*/

#slider-thumbs .list-inline li {
  width: 25%;
  padding: 0px;
  margin-right: -4px;
  cursor: pointer;
}

#slider-thumbs .list-inline li:first-child { padding-left: 5px; }

.slider-nav-arrow {
  text-align: center;
  margin-bottom: 0px;
  visibility: hidden;
}

.selected .slider-nav-arrow { visibility: visible; }

.selected .slider-navigation { opacity: 0.8;
  background-color: #FFF; 
  color: #000;

 }
 a{
  color: #FFF;
  /*text-decoration: none;*/
 }
/* img{
  width: 100%;
  
} */
.add{
border: 1px solid #D8D5D5;
/*     margin: 1px; */
        background-color: #FFF;
}
  /*.col-md-10{
    background-color: royalblue;
  }*/

/*.slick-prev:before, .slick-next:before {
    color: #3C2B2B;
}*/
body{
  background-color: #f5f5f5;

}
.main-wrap{
  /*background-color: red;*/
  width: 100%;
  /*height: 230px;*/
  /*margin: 5px;*/
  margin-top: 10px;
}
.wrap{
  /*margin: 5px;*/
  border: 5px solid transparent;
}

.shop-now{
  background-color: yellow;
  text-align: center;

}
h3{
  /*margin: 5px;*/
  padding: 5px;
}
.shop-img{
  width: 100%;
/*   height: 100%; */
  overflow: hidden;
}
.back{
  background-color: #FFF;
  margin: 6px;
}

.shop-details{
    position: absolute;
/*     height: 100%; */
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    left:0; bottom: 0;
    color:white;padding:10px;
    display:none;
}
img.iim.img-responsive {
    width: 350px;
    height: 250px;
}

.shop-img{
    position:relative;
    display:inline-block;
}
.back:hover .shop-details{display:block;}
.back:hover {
    border: 1px solid black;
}
.responsive{
	height: 316px;
}

	
//***********//
.hideme{
	display:none;
}
.profilewrap:hover .hideme{display:block;}

//************//


/***************************************************topMenuBar*****************************************************************/
li.dropdown.pull-right {
    margin: 3px;
}

ul.dropdown-menu {
    margin-top: 7px;
}
/***************************************************End of topMenuBar**********************************************************/


/***************************************************Changed menubar************************************************************/

.search-box {
    float: right;
/*     height: 47px; */
/*     width: 50px; */
	margin:15px 5px 15px 15px;
}
button.btn.btn-nobg.getFullSearch.changeview {
    width: inherit;
    height: 33px;
    margin-top: -5px;
}
button#removesearchbtn {
    width: 25px;
    height: 25px;
    border-radius: 15px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.cartMenu {
    float: left;
    display: block;
/*     margin:15px 5px 15px 5px; */
	margin: 5px;
}
.megamenu .nav, .megamenu .dropup, .megamenu .dropdown, .megamenu .collapse {
    position: static;
}
.navbar-toggle {
    background: rgba(0,0,0,0.2);
}
.navbar-toggle{
	height:35px;
}
.getFullSearch{
	margin-top:-5px;
}
#search{
	width:80%;
	height:40px;
	background-color:transparent;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:2px solid #AAA;
}
.insearch{
	border:none;
	background-color:transparent;
	border-bottom: 2px solid #AAA;
    padding-bottom: 12px;
    margin-left: -4px;
}
button.changeview {
    border: none;
    background-color: transparent;
    color: #FFF;
    width: 32px;
    height: 32px;
    margin-top: -10px;
    border-radius: 4px;
}
button.changeview:hover {
    background-color: #037DBB;
    width: 32px;
    height: 32px;
    margin-top: -10px;
    border-radius: 4px;
}
::-webkit-input-placeholder {
    color: #5D5D5D;
}
#removesearchbtn{
	padding: 3px;
	margin-top: 4px;
}
.nav-cust{
	background-color: #008ed6;
	
	border: 0px;
/* 	height: 50px; */
	border-radius: 0px;
}
.navbar-default{
/* 	background-image: none; */
	background-image: linear-gradient(to bottom,#4EABF0 0,#037DBB 100%);
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
button#getCartProduct:hover {
    background-color: #037DBB;
}
button.navbar-toggle.pull-left,button.navbar-toggle.pull-left:visited {
    background-color: #008ed6;
    border-color: #008ed6;
}
button.navbar-toggle.pull-left:hover {
    background-color: #037DBB;
}


span.glyphicon.glyphicon-option-vertical {
    color: #FFF;
}
button.navbar-toggle {
    background-color: #008ed6;
    border: transparent;
    
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #037DBB;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
/***************************************************End of Changed menubar************************************************************/





/*Cart*/
.badge{
	background-color: #FFF;
}
.productCountOnCart{
	color:#037DBB
}
.glyphicon-shopping-cart{
	color:#FFF;
}


.cheight {
	margin  : 0px;
	width : auto;
	max-height : 200px;
	overflow : auto;
	padding : 0px;
	/*height : auto;*/
}
.cheight >.table-striped{
	font-size  : 12px;
}
.cimg {
	width : 5%;
	
}
.cartimgsize{
	width  : 20px;
	height  : 20px;
	
}

.cname {
	width : 45%;
	text-align : left;
	
}

.csize .cqty .cprice {
	width : 12%;
	
}

.cdelete {
	text-align : center;
	width : 12%;
	width  : 24px;
	height  : 24px;
}

.totaldiv {
	text-align : center;
	padding-top : 20px;
}

#cdel {
	margin-right : 0px;
	vertical-align : middle;
	margin-top : -3px;
}
.cartdelbtn{
	width  : 24px;
	height  : 22px;
}
/*tr{
width : 95%;
display : inline-table;
}

table{
 height :200px; 
}
tbody{
  overflow-y : scroll;
  height : 200px;
  width : auto;
  position : absolute;
}*/
/*cart end*/
.strong {
	font-size : 20px;
}

.top-bar {
	height : 25px;
	background-color : #037DBB;
	color : #FFFFFF;
}
#home {
	color  : #FFF;
}

.font{
	color : #212121;
}

.textbox {
	margin : 5px;
	width : 66%;
/* 	width : 88%; */
	height : 40px;
	border  : 1px solid gray;
/* 	border-radius : 4px; */
	padding-left: 5px;
/* 	Devendra */

	border-top: none;
	border-left: none;
	border-right: none;
	outline: 0;

}

.mid-cont {
	margin : 0px;
}

.log-1 {
	height : 100%;
	width : 250px;
	color : #1F1919;
	margin : 10px;
	/*padding : 10px;*/
	/*margin-top : 0px;*/
	/*margin-bottom : 0px;*/
	/*background-color : #037DBB;*/
	background-color : transparent;
}

#forgot {
	color : blue;
}

#user {
	margin-bottom : 3px;
}

.middle-bar {
	background-color : #008ed6;
	border-top : 0px;
}

.mid-bar {
	background-color : #008ed6;
	padding-top : 5px;
	padding-bottom : 5px;
	border-top : 0px;
}

/* #search { */
/* /* 	width : 700px; */ */
/* 	text-align : center; */
/* } */

/* #search-btn { */
/* 	background-color : #008ed6; */
/* } */

.btn .glyphicon {
	margin-right : 4px;
	vertical-align : middle;
}

.btn.btn-icon .glyphicon {
	margin-right : 0;
}

.main-1 {
	margin-top : 10px;
	/*height : 1000px;*/
	background-color : #FFFFFF;
}

.row-1 {
	background-color : #FFFFFF;
}

.cartsz {
	width : 120px;
}




.foot-1 {

/* 	height : 100%; */

	background-color : #008ed6;
	color : #FFFFFF;
}

.footer {
	margin-top : 30px;
}

.footer A :link {
	color : #4C4C4C;
}

.footer A :hover {
	text-decoration : none;
	color : #FFFFFF;
}

.footer A :focus {
	color : #FFFFFF;
}

.col-line {
	border-right : 0px #4C4C4C solid;
	margin-left : 5px;
}

.container-1 {
	max-width : 1000px;
}

.main-row {
	background-color : #FFFFFF;
	margin : 0px;

	/*border :1px #FFFFFF solid;*/
}

.side-bar {
	/*margin : 0px;*/
	/*width : 200px;*/
	
}

/* #login {
	color : #FFFFFF;
} */

.image {
	max-width : 100px;
	max-height : 100px;
	background-color : #9AD7AE;
}

#qtytxt {
	width : 30px;
	margin : 3px;
}

.prd-disp {
	/*margin : 5px;*/
	margin-top : 11px;
	margin-left : 0px;
	border-bottom : 1px solid #FFFFFF;
	/*margin-top : 5px;
	margin-bottom : 5px;*/
	padding : 0px;
}

.prd-disp :hover {
	border : 1px solid #B8B8A6;
}

.col-cat {
	background-color : #FFFFFF;
	    
}
/*profile page*/
.prof{
	margin-top: 11px;
}
.prof > img.img-responsive{
	border-radius:10px;
}

.list-group-item :hover {
	font-size : 15px;
	font-weight : bold;
}

.list-group-item.active {
	font-size : 15px;
	font-weight : bold;
	background-color : #037DBB;
}

.list-group-item {
	border : none;
	margin-bottom: 0px;
	font-size: 14px;
}

.list-group-item.active :focus {
	background-color : #008ed6;
	border : none;
}

.top-cont {
	background-color : #FFFFFF;
	height : 275px;
	width : 1170px;
	/*width : 1170px;
position : relative;
margin :0 auto;
line-height : 1.4em;
*/
}

.logo-1 {
	padding : 0px;
	margin : 0px;
}

#address {
	width : 200px;
}

.slider {
	max-width : 100%;
	height : 300px;
	background-color : gray;
}

.a {
	color : #FFFFFF;
}

/*profile 1*/
.portfolio .align-center {
	padding : 50px 0;
}

.portfolio-item .align-center {
	/*    margin-bottom : 30px; */
	margin-left : auto;
	margin-right : auto;
	width : 144px;
	height : 120px;
}

.inner-wrap {
	width : 108px;
	height : 108px;
}

.productname {
	height : 60px;
}
.productprice {
    margin: 10px 0px 10px 0px;
}

.oktick {
	color : green;
	width : -2px;
	font-size : 20px;
}

.img-portfolio .align-center {
	margin : 0 auto;
}

.img-portfolio :hover {
	opacity : 0.5;
}

.wrap :hover {
	/*border : 1px solid #B8B8A6;*/
/* 	border-left : 1px solid #B8B8A6; */
/* 	border-right : 1px solid #B8B8A6; */
	/*border-bottom : 1px solid #B8B8A6;*/
}

.cartsz {
	width : 100px;
	margin-bottom : 10px;
	/*margin-right : 10px;*/
	margin-top :4px;
	height : 32px;
}

.btn-size {
	margin : 5px;
}

/*end of profile 1*/
/*cart slide out*/
/*#slideout {
    background : #666;
    position : absolute;
    width : 300px;
    height : 80px;
    top : 45%;
    left :-280px;
}
    
.clickme {
    float : right;
    height : 20px;
    width : 20px;
    background : #ff0000; margin :50px 500px 0 0
}

#slidecontent {
    float :right;
}*/
/*end of cart slide out */

/*Side Bar Menu*/

/****  Sub DropDown Menus ****/
.dropdown-submenu {
	position : left;
}

.dropdown-submenu>.dropdown-menu {
	top : 0;
	left : 180px;
	margin-top : -6px;
	margin-left : -1px;
	-webkit-border-radius : 0 6px 6px 6px;
	-moz-border-radius : 0 6px 6px;
	border-radius : 0 6px 6px 6px;
}
#productSearch{
	height: 34px;
}

.dropdown-submenu :hover>.dropdown-menu {
	display : block;
}

/* .dropdown-submenu>a :after { */
/* 	display : block; */
/* 	content : " "; */
/* 	float : right; */
/* 	width : 0; */
/* 	height : 0; */
/* 	border-color : transparent; */
/* 	border-style : solid; */
/* 	border-width : 5px 0 5px 5px; */
/* 	border-left-color : #ccc; */
/* 	margin-top : 5px; */
/* 	margin-right : -10px; */
/* } */

.dropdown-submenu :hover>a :after {
	border-left-color : #fff;
}

.dropdown-submenu.pull-left {
	float : none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left : -100px;
	margin-left : 10px;
	-webkit-border-radius : 6px 0 6px 6px;
	-moz-border-radius : 6px 0 6px 6px;
	border-radius : 6px 0 6px 6px;
}
/*End of side Menu*/
.modal-header {
	background-color : #008ed6;
}

.btn-primary {
	color : #fff;
	background-color : #008ed6;
	border-color : #008ed6;
}

.btn-primary :hover {
	border-color : #037DBB;
	background-color : #037DBB;
}

.btn-success {
	color : #fff;
	background-color : #008ed6;
	border-color : #008ed6;
}
.btn-success:hover {
    color: #fff;
    background-color: #037DBB;
    border-color: #037DBB;
}

.pagination>.active>a {
	background-color : #008ed6;
	border-color : #008ed6;
} 

/*tr{
width : 95%;
display : inline-table;
}

table{
 height :200px; 
}
tbody{
  overflow-y : scroll;
  height : 200px;
  width : auto;
  position : absolute;
}*/
/*cart end*/

/* .font, a {
	color : #212121;
}
 */
 
.whiteLabelLink  {
	color  : white;
	text-decoration : none;
} 
.whiteLabel{
	color : #FFF;
}

.cartsz {
	width : 120px;
}

/*profile page*/
.list-group-item.active, .list-group-item.active :focus, .list-group-item.active :hover
	{
	background-color : #008ed6;
	border-color : #1F5858;
}

/* .portfolio-item .align-center { */
/* 	margin-bottom : 30px; */
/* 	height : 108px; */
/* 	margin : auto; */
/* } */

.cartsz {
	width : 100px;
	margin-bottom : 10px;
	/*margin-right : 10px;*/
}

.btn-size {
	margin : 5px;
}

/*end of profile 1*/
/*cart slide out*/
/*#slideout {
    background : #666;
    position : absolute;
    width : 300px;
    height : 80px;
    top : 45%;
    left :-280px;
}
    
.clickme {
    float : right;
    height : 20px;
    width : 20px;
    background : #ff0000; margin :50px 500px 0 0
}

#slidecontent {
    float :right;
}*/
/*end of cart slide out */

/*Side Bar Menu*/

/****  Sub DropDown Menus ****/
.dropdown-submenu {
	position : left;
}

.dropdown-submenu>.dropdown-menu {
	top : 0;
	left : 180px;
	margin-top : -6px;
	margin-left : -1px;
	-webkit-border-radius : 0 6px 6px 6px;
	-moz-border-radius : 0 6px 6px;
	border-radius : 0 6px 6px 6px;
}

.dropdown-submenu :hover>.dropdown-menu {
	display : block;
}

/* .dropdown-submenu>a :after { */
/* 	display : block; */
/* 	content : " "; */
/* 	float : right; */
/* 	width : 0; */
/* 	height : 0; */
/* 	border-color : transparent; */
/* 	border-style : solid; */
/* 	border-width : 5px 0 5px 5px; */
/* 	border-left-color : #ccc; */
/* 	margin-top : 5px; */
/* 	margin-right : -10px; */
/* } */

.dropdown-submenu :hover>a :after {
	border-left-color : #fff;
}

.dropdown-submenu.pull-left {
	float : none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left : -100px;
	margin-left : 10px;
	-webkit-border-radius : 6px 0 6px 6px;
	-moz-border-radius : 6px 0 6px 6px;
	border-radius : 6px 0 6px 6px;
}
/*End of side Menu*/
.modal-header {
	background-color : #008ed6;
}

.btn-primary {
	color : #fff;
	background-color : #008ed6;
	border-color : #008ed6;
}

.btn-primary :hover {
	border-color : #037DBB;
	background-color : #037DBB;
}

.btn-success {
	color : #fff;
	background-color : #008ed6;
	border-color : #008ed6;
}

.pagination>.active>a {
	background-color : #008ed6;
	border-color : #008ed6;
}

.switch-wrapper {
  display : inline-block;
  position : relative;
  top : 3px;
}

.webkit-input-placeholder {
    color: #b2cde0
}

.cartquantity
{
	padding: 0px;
    margin: 0px;
    text-align: center;
}

.quantitybtn
{
	width: 98px;
}

/*Loading Image*/

#loading-img {
    background: url(../loader_img/LoadingNew.gif) center center no-repeat;
    	background-size: 100px 100px;
/*     background: url(../loader_img/load.gif) center center no-repeat; */
/*     background: url(https://goo.gl/photos/D1uwSqvhgVwdeAQXA) center center no-repeat; */
    height: 50%;
/*     z-index: 20; */
    z-index: 100000;
}

.overlay {
/*     background: #e9e9e9; */
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000000;
/*     opacity: 0.5; */
}
.overlay1 {
/*     background: #e9e9e9; */
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000000;
/*     opacity: 0.5; */
}

/* //Deva */

.btn_width_93_perc
{
	width: 66%;
}		 
/* Profile Sunil */
.fade-in {
    opacity: 0.1;
    transition: opacity 600ms;
 }
#profilePic:hover .fade-in {
     opacity: 0.7;
 }
.bbtn1{
  background: none;
  border:0px;
  margin-top: -50px;
  /*margin-left: -100px;*/
}
.upload{
	color: #FFF;
	font-size: 40px;
}
.remove{
	color: #FFF;
	font-size: 40px
}

.blink_me
{
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;   
}
@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}




/*///////////////////////////////Devendra//////////////////////////////////////////*/

a.button::before {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: #959595 0 2px 5px;
    -moz-box-shadow: #959595 0 2px 5px;
    border-radius: 3px;
    box-shadow: #959595 0 2px 5px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    padding: 2px 0 0;
    position: absolute;
    top: 0;
    width: 100%; }
    
a.button:active::before { padding: 1px 0 0; }

/**
 * Grey
 */
a.button {
    -moz-box-shadow: inset 0 0 0 1px #63ad0d;
    -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #eee;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e2e2e2));
    background: -moz-linear-gradient(#eee, #e2e2e2);
    background: linear-gradient(#eee, #e2e2e2);
    border: solid 1px #d0d0d0;
    border-bottom: solid 3px #b2b1b1;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    color: #555;
    display: inline-block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    margin: 0 25px 25px 0;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fafafa; }
    
a.button:hover {
    background: #e4e4e4;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e4e4e4), to(#ededed));
    background: -moz-linear-gradient(#e4e4e4, #ededed);
    background: linear-gradient(#e4e4e4, #ededed);
    border: solid 1px #c2c2c2;
    border-bottom: solid 3px #b2b1b1;
    box-shadow: inset 0 0 0 1px #efefef; }
    
a.button:active {
    background: #dfdfdf;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dfdfdf), to(#e3e3e3));
    background: -moz-linear-gradient(#dfdfdf, #e3e3e3);
    background: linear-gradient(#dfdfdf, #e3e3e3);
    border: solid 1px #959595;
    box-shadow: inset 0 10px 15px 0 #c4c4c4;
    top:2px;}
    
    
 .boxshadow {
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
}

/* .customerSideMenu
{
	border-width: 1px 1px medium; 
	border-style: solid solid none; 
	border-color: rgb(204, 204, 204) rgb(204, 204, 204) 
	-moz-use-text-color; 
	-moz-border-top-colors: none; 
	-moz-border-right-colors: none; 
	-moz-border-bottom-colors: none; 
	-moz-border-left-colors: none; 
	border-image: none;
} */
    /*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\Devendra\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
 
.rotatelabel {
  display:inline-block;
}

/*===== Animation (ie: the good stuff) =====*/
#productCountOnCart1:hover .rotatelabel, .rotatelabel {
  transform:translateZ(0px) rotateY(0deg);
  
  animation-duration:2s;
  animation-name:rotateOut;
  animation-timing-function:linear;
  animation-fill-mode:forwards;
}

.rotatelabel {
  animation-duration:2s;
  animation-name:rotateIn;
  animation-timing-function:linear;
  animation-fill-mode:forwards;
}

.slow .rotatelabel,
.slow div:hover .rotatelabel {
  animation-duration:2s;
}

@keyframes rotateIn {
  0% {
    opacity:0;
		transform:translateZ(0px) translateX(0) rotateY(0deg);
	}
  /*
    We need to reset it back to negative to avoid it flipping around like crazy
    Comment this line out to see what I mean.
  */
	1% {
		transform:translateZ(0px) rotateY(0deg);
	}
 
	50% {
		opacity:0.5;
		z-index:1;
	
		transform:translateZ(0px) translateX(0px) rotateY(-90deg);
	}

	100% {
		opacity:1;
		z-index:1;
	
		transform:translateZ(0) translateX(0) rotateY(0deg);
	}
}

@keyframes rotateOut {
	0% {
		opacity:1;
		
		transform:translateZ(0) translateX(0) rotateY(0deg);
	}
 
	50% {
		opacity:0.5;
		z-index:0;
		
		transform:translateZ(-50px) translateX(25px) rotateY(90deg);
	}

	100% {
		opacity:0;
		z-index:0;
		
		transform:translateZ(-100px) translateX(0) rotateY(180deg);
	}
}

.alignprof
{
	margin: 58px auto; 
	width: 100%;
}

.alignprofDiv
{
	margin: 58px auto; 
	width: 60%;
	background: #E9E9E9 none repeat scroll 0% 0%;
	box-shadow: 0px 4px 17px 7px grey;
}

.alignTable
{
	height: 200px;
	width: 100%;
}

.margin_top_bottom
{
	margin-bottom: 13px;
	margin-top: 5px;
}

select::-ms-expand {
    display: none;
}
.mylogo{
	width: 111px; 
	height: 45px; 
	margin-top: -7px;
}




//small screen css is here//

@media (max-width: 480px) {
body{background-color: red;}
}

.grand_total
{
	color: #D52727; 
	font-size: 20px; 
	float: right; 
	height: 20px;
}