@CHARSET "ISO-8859-1";

/* Applied for body */
BODY
{
    padding-right: 2pt;
    padding-left: 2pt;
    padding-bottom: 2pt;
    margin: 0px;
    padding-top: 2pt;
    font-family: calibri,Arial, Helvetica, sans-serif;
}


INPUT
{
    border: solid 1px #cccccc;
    padding: 2pt;
    font-family: Calibri,Arial,Helvetica,sans-serif;font-size: 14px;color:#000;
    background-color: #ffffff; /*f4f4f4*/
    vertical-align: middle;
    text-decoration: none;
    outline-color: transparent;
}

.clearfix {
    clear:both;
}

p {
    font-family: calibri,Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #fff;
    text-align: justify;
}



* {
    margin:0px auto;
    padding:0px;
}

fieldset {
    margin-left: 50px;
    padding: 0px;
    float: left;
    border: 0px;
    margin-top:20px;
}

#wrapper {
    width:100%;
    height:auto;
}

#main-wrapper {
    width:100%;
    height:auto;
}

#main-wrapper-top {
    width:100%;
    height:auto;
}

#main-wrapper-down {
    width: 750px;
    height: auto;
}

#header {
    width:100%;
    height:100px; 
    padding-top:10px;
    background-image:url(../configImages/images/headerbg.png);
}

#slides {
    width: 750px;
    height: 500px;
    float: left;
}

#login-window {
    max-width: 1000px;
    height: 58%;
    /*	background:#0F9;
    */	margin-top: 15%;
}

#login {
    width: 353px;
    height: 325px;
    background:url(../images/bg-white-lock.png);

}

#login-heading {
    width:381px;
    height:auto;
    /*float:left;*/
    position:relative;
    top:50px;
    left:-10px;
    font-size:33px;
    font-weight:600;
    font-family: calibri,Arial, Helvetica, sans-serif;
    color:#fff;
    text-align:center;
}

#login-fields {
    width: 350px;
    margin-top: 30px;
    height: 110px;
}


#video-conference {
    width: 850px;
    height: 500px;
    margin-top: 10px;
}

#videoscreen {
    width:640px;
    height:500px;
    float:left;
}

#videoscreen-inner {
    width:640px;
    height:480px;
    float:left;
    margin-top:10px;
    border:1px solid #FFF;
    /*	background:#fff;
    */}

#caller {
    width:200px;
    height:auto;
    float:left;
    margin-left:60px;
    margin-top:10px;
}

#caller-photo {
    width:120px;
    height:130px;
}

#caller-name {
    width:120px;
    height:auto;
}

#demo-buttons {
    width: 120px;
    height: auto;
    float: left;
    margin-left: 60px;
    margin-top: 10px;
}

#demo-buttons-inner {
    width: 119px;
    height: 109px;
    float: left;
    margin-top: 10px;
}

.text_div
{
    width:450px; 
    height:auto; 
    float:left;
}

.future_text
{
    font-size:90px; 
    margin: 0px; 
    font-weight: bold;
}

#login_text
{
    margin-bottom:15px;
}

.avhan_image_div
{
    width:240px; 
    height:auto; 
    position:relative; 
    top:50px;
    float:left;
    margin-left:210px;
}

.mar_top_20_px
{
    margin-top: 20px;
}

.btn_bg_image
{
    background-image: url('../configImages/images/Blank.jpg'); 
}

.btn_bg_image:hover
{
    background-image: url('../images/Blank_RO.jpg'); 
    background-repeat: no-repeat;
}


.btn_wd_ht
{
    width: 112px; 
    height: 22px; 
    border-style: none; 
    border-width: 0;
    cursor: pointer;
}

.captcha_image
{
    float: left; 
    margin-top: 5px;
}

.errordisplay
{
    font-size:12px;
    color:#FF0000;
    font-family: calibri,Arial, Helvetica, sans-serif;
    vertical-align:middle;
    margin-top:50px;
}

.float_none
{
    float:none;
}

.msg_textfont
{
    font-family: calibri,Arial, Helvetica, sans-serif;
    font-size:14px;
}

.color_black
{
    color: black;
}

.margin_top_10_px
{
    margin-top: 10px;
}


.login_page_logo_div
{
    width:92px; height:37px; position:relative; top:12%;
}


.sessionMainDiv
{
    margin-top: 15%;
}

.sessionText
{
    color: #FFD700;
    font-family: calibri,Arial,Helvetica,sans-serif;
    font-size: 40px;
    width: 100%;
    text-align: center;
}

.reloginBtnDiv
{
    margin-top: 50px;
    text-align: center;
}

.submit_btn_image_index {
    background-image: url('../configImages/images/submit.png');
}

.submit_btn_image_index:hover {
    background-image: url('../configImages/images/submit.png');
    background-repeat: no-repeat;
}



.reset_btn_image_index {
    background-image: url('../configImages/images/reset.png');
}

.reset_btn_image_index:hover {
    background-image: url('../configImages/images/reset.png');
    background-repeat: no-repeat;
}


.btn_wd_ht_index {
    width: 96px;
    height: 26px;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    background-color: transparent;
    padding-left: 30px;
    margin-right:10px;
    font-family: calibri;
    font-size: 14px;
}

.inputbox_login_page
{
    width: 250px;
    height: 30px;
    margin-top: 10px;
}

.margin_top_20_px
{
    margin-top: 20px;
}

.margin_left_25_px
{
    margin-left:25px;
}

.fadein {
    top: 0px;
    left: 0px;
    margin: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0px;
    z-index: -1;

}

.fadein img {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
}

.loginBtnAlign
{
    text-align: center;
    margin-left: 10px;
}

.center_align
{
    text-align:center;
}

/* XML Configuration Page */

#configWindow
{
    width:40%; height:415px; margin-top:9%; background-color:#379CC0; box-shadow: 0px 1px 9px #CCC;
}

#configWindowHeading {
    width:100%;
    height:auto;
    position:relative;
    top:50px;
    font-family: calibri,Arial, Helvetica, sans-serif;
    font-size:33px;
    font-weight:600;
    color:#fff;
    text-align:center;
}

#configWindowFields {
    width: 100%;
    margin-top: 65px;
    height: 110px;
}

.configWindowBtnAlign
{
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
/* 	margin-top: 103px; */
}

.loginwarning
{
	height: 26px;
	text-align: center;
	margin-top: 7px;
}
